<footer class="mt-auto d-flex flex-row rounded" style="background-color: #763dba; color: white">
  <div class="ms-1 p-2">
    &copy; Lavande Residence. All rights reserved
  </div>
  <div class="ms-auto p-2">
    <a href="#"><img src="http://lavande.id//icon/ig.svg" alt="instagram"></a>
  </div>
  <div class="p-2">
    <a href="#"><img src="http://lavande.id//icon/twitter.svg" alt="twitter"></a>
  </div>
  <div class="p-2 me-4">
    <a href="#"><img src="http://lavande.id//icon/yt.svg" alt="youtube"></a>
  </div>
</footer>