.btn-primary {
	background-color: #F2E9F6 !important;
	color: #985ECF !important;
	border: none !important;
}

.btn-outline-primary {
	color: #985ECF !important;
	border-color: #985ECF !important;
	--bs-btn-hover-bg: none !important;
}